body {
    background: #4ad8d8;
    font-family: sans-serif;
  }
  
  h2 {
    color: #fff;
  }
  
  .login {
    padding: 1em;
    margin: 2em auto;
    width: 17em;
    background: #fff;
    border-radius: 3px;
  }
  
  label {
    font-size: 10pt;
    color: #555;
  }
  
  input[type="text"],
  input[type="password"],
  textarea {
    padding: 8px;
    width: 95%;
    background: #efefef;
    border: 0;
    font-size: 10pt;
    margin: 6px 0px;
  }
  
  .tombol {
    background: #3498db;
    color: #fff;
    border: 0;
    padding: 5px 8px;
    margin: 20px 0px;
  }





  .navbar {
    overflow: hidden;
    background-color: rgb(51, 51, 51);
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }




 
  * {
    box-sizing: border-box;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }






  .kiri{
    float: left;
    background-color: #ffffff96;
    padding-right: 75%;
    padding-bottom: 510px;

  }
  .kanan{
    float: right;
    background-color: #ffffff96;
    
    padding-right: 17%;
    padding-bottom: 510px;
    padding-left: 80px;
  }




/* css bapak */
.container6{
	background-color:#003655;
	height:37px;
	width:100%;
	color:#FFFFFF;
	font-family:Cambria;
	font-size:14px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	margin-bottom:10px;
}
.grid{
	width:100%;
	overflow:hidden;
}
.dh12 { width:97.91%; }
.dh12{
	float:left;
	display:inline;
	margin:0 1.04%;
}
@media screen and (max-width:720px){
	.dh1, .dh2, .dh3, .dh4, .dh5, .dh6, .dh7, .dh8, .dh9, .dh10, .dh11, .dh12{
		width:97.91%;
		margin-bottom:1em;
	}
}

